/*
 * 3 column arrangement
 * Left column is 400px
 * Middle column is 542 px
 * Far right column will be fluid
 * 
 * Make sure BG image is fixed
 *
 * Media queries will change for tablet and mobile for a 2 column where the left is fixed and the blank one is fluid
 * 
 * On phone media query (<480px) just remove the bg image.
 */

* {
    box-sizing: border-box;
}

@keyframes animation {
    from {background: rgb(200,150,0); border-color: rgb(250,200,0)}
    to {background: rgb(100,100,0); border-color: rgb(150,150,0)}
}

.body {
    margin: 0px;
}

.pagenav {
    float: left;
    width: 50%;
}

.navbar {
    float: right;
    width: 50%;
    text-align: right;
}

.navbar ul {
    margin-top: 25px;
    list-style-type: none;
    display: inline-block;
}

.navbar ul li {
    display: inline-block;
}

.navbar a:link {
    background-color: rgb(255,200,0);
    border: 5px solid rgb(200,100,0);
    border-radius: 5px;
    padding: 15px;
}

.clear:after {
    content: "";
    display: table;
    clear: both;
}

a:visited
{
    background-color: black;
    transition-duration: 1s;
}

a:hover
{
    background-color: white;
    transition-duration: 1s;
}

@media screen and (max-width: 480px) {
    
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    
}

@media screen and (min-width: 1025px) and (max-width: 1920px) {
    
}

@media screen and (min-width: 1921px) {
    
    
    
}