* {
    box-sizing: border-box;
}

@keyframes animation {
    from {background: rgb(200,150,0); border-color: rgb(250,200,0)}
    to {background: rgb(100,100,0); border-color: rgb(150,150,0)}
}

body {
    margin: 0px;
}

.page-{
    
}

.pagenav {
    float: left;
    width: 50%;
}

.navbar {
    float: right;
    width: 50%;
}

.navbar ul {
    margin-top: 25px;
    list-style-type: none;
    display: inline-block;
}

.navbar ul li {
    display: inline-block;
    margin-right: 15px;
}

.navbar a:link {
    background-color: rgb(255,200,0);
    border: 5px solid rgb(200,100,0);
    border-radius: 5px;
    padding: 15px;
}

.clear:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 420px) {
    
}

@media screen and (min-width: 421px) and (max-width: 768px) {
    
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    
}

@media screen and (min-width: 1025px) and (max-width: 1920px) {
    
}

@media screen and (min-width: 1921px) {
    
    
    
}