/*
 * 3 column arrangement
 * Left column is 400px
 * Middle column is 542 px
 * Far right column will be fluid
 * 
 * Make sure BG image is fixed
 *
 * Media queries will change for tablet and mobile for a 2 column where the left is fixed and the blank one is fluid
 * 
 * On phone media query (<480px) just remove the bg image.
 */

/*
 * Global styles
 */

* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
}

body {
    background-image: url("../images/background-image.jpg");
    background-size: fixed;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0px;
    color: rgb(255, 255, 255);
    font-family: arial, sans-serif;
    font-size: 17px;
}

.activelink {
    color: rgb(200, 150, 0);
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.cf:after {
    clear: both;
    content: '';
    display: table;
}

aside {
    width: 400px;
    height: 100%;
    padding: 20px;
    z-index: 10;
    position: fixed;
    left: 0;
    top: 0;
}

.dropdown ul {
    visibility: hidden;
    height: 0;
    transition: height ease 0.25s;
    overflow: hidden;
}

.dropdown:hover ul {
    visibility: visible;
    height: 82px;
}

.font {
    font-size: 36px;
}

aside ul {
    list-style-type: none;
}

aside a {
    color: white;
    font-size: 36px;
    text-decoration: none;
}

.blankbit {
    width: 543px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 400px;
}

.content {
    ;
    position: absolute;
    top: 0;
    left: 943px;
    padding: 20px;
    height: 100%;
}

.bg-rect-right {
    position: fixed;
    top: 0;
    left: 943px;
    background-color: rgba(0, 0, 0, .43);
    height: 100vh;
    width: 50.9%;
}

.bg-rect-left {
    position: fixed;
    top: 0;
    left: 0;
    width: 400px;
    height: 100vh;
    background-color: rgba(0, 0, 0, .42);
    padding: 20px;
    z-index: -1;
}

section {
    border: 10px solid rgb(128, 128, 128);
    border-radius: 2px;
    margin-bottom: 20px;
    padding: 10px;
}

section .image {
    width: 40%;
}

.image img {
    width: 100%;
}

section div.text {
    width: 60%;
}

/*
 * Home styles
 */

.homepage {
    float: left;
    height: 330px;
    width: 49%;
    margin: .5%;
    overflow: auto;
    padding: 0px 10px 0px 10px;
}

.homepage:last-child {
    float: none;
    width: 99%;
    height: 350px;

}

section.homepage a {
    color: white;
    display: block;
    font-size: 36px;
    font-style: none;
    margin: auto;
    text-decoration: none;
    text-align: center;
}

.button {
    border: 10px solid rgb(128, 128, 128);
}

.homepage .threats-height {
    margin-top: 93px;
}

/*
 * About
 */

/*
 * Threats
 */

/*
 * Get involved
 */

@media screen and (max-width: 480px) {}

@media screen and (min-width: 481px) and (max-width: 768px) {}

@media screen and (min-width: 769px) and (max-width: 1024px) {}

@media screen and (min-width: 1025px) and (max-width: 1920px) {}

@media screen and (min-width: 1921px) {}
