/*
 * 3 column arrangement
 * Left column is 400px
 * Middle column is 542 px
 * Far right column will be fluid
 * 
 * Make sure BG image is fixed
 *
 * Media queries will change for tablet and mobile for a 2 column where the left is fixed and the blank one is fluid
 * 
 * On phone media query (<480px) just remove the bg image.
 */

/*
 * Global styles
 */

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body,
html {
    height: 100%;
}

body {
    background-image: url("../images/background-image.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0px;
    color: rgb(255, 255, 255);
    background-color: #762613;
    font-family: arial, sans-serif;
    font-size: 17px;
}

.activelink {
    color: rgb(200, 150, 0);
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.cf:after {
    clear: both;
    content: '';
    display: table;
}

aside {
    width: 400px;
    padding: 20px;
    z-index: 10;
    position: fixed;
    left: 0;
    top: 0;
    font-size: 1.5em;
}

aside ul {
    list-style-type: none;
}

aside a {
    color: white;
    text-decoration: none;
}

aside ul li {
    margin-bottom: 5px;
}

.content {
    position: absolute;
    top: 0;
    left: 943px;
    padding: 20px;
    height: 100%;
    margin-bottom: 30px;
}

.bg-rect-right {
    position: fixed;
    top: 0;
    left: 943px;
    background-color: rgba(0, 0, 0, .42);
    height: 100vh;
    width: 50.9%;
}

.bg-rect-left {
    position: fixed;
    top: 0;
    left: 0;
    width: 400px;
    height: 100vh;
    background-color: rgba(0, 0, 0, .42);
    z-index: -1;
}

.blankbit {
    width: 543px;
    position: fixed;
    top: 0;
    left: 400px;
    height: 100%;
}

section .image {
    width: 266px;
}

section {
    padding: 10px;
    margin-bottom: 30px;
}

section div.text {
    width: 60%;
}

p {
    text-indent: 33px;
}

hr {
    color: rgba(255, 255, 255, 0.2);
    margin-bottom: 5px;
}

footer p {
    display: inline-block;
    text-align: right;
    margin: 0px;
    padding: 0px;
    color: rgb(127, 127, 127);
    font-size: 0.75em;
}



/*
 * Home styles
 */

.index section {
    border: 2.5px solid rgb(128, 128, 128);
    background: rgba(0, 0, 0, .25);
}

.width-30 {
    margin: 0;
    padding: 0;
    width: 30%;
}

.width-70 {
    margin: 0;
    padding: 0;
    width: 70%;
}

section div.width-70:last-child {
    width: 71%;
}

.button {
    background: rgb(37, 37, 37);
    color: rgb(255, 255, 255);
    padding: 2px 15px;
    text-align: center;
    text-decoration: none;
    width: 100%;
    max-width: 266px;
    display: block;
}

.learn-more img {
    margin-bottom: -5px;
}

.learn-more a {
    margin-bottom: 7px;
}

.learn-more a:last-child {
    border: 1.5px solid rgb(200, 150, 0);
}

/*
 * Threats
 */

.threats article img {
    max-width: 500px;
    width: 100%;
    margin: auto;
    display: block;
}

section .yawn {
    display: block;
    margin: auto;
    margin-bottom: -30px;
    max-width: 600px;
    width: 100%;
}

/*
 * Get involved
 */

.river {
    margin-top: px;
}

/*
 *References
 */

.reference {
    background-color: rgba(0,0,0,0.5);
    border: 1.5px solid rgb(200, 150, 0);
    color: white;
    display: inline-block;
    font-size: 1.5em;
    height: 225px;
    padding: 90px 25px; 
    text-align: center;
    text-decoration: none;
    width: 225px;
}

.reference:visited {
    color: white;
}

section:last-of-type {
    margin-top: 40px;
}

.reference article {
    display: inline-block;
}

.references section {
    width: 50%;
    margin-bottom: 40px;
}

.references section:nth-child(5) {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.references section h2 {
    border-left: 1.5px solid rgb(200,150,0);
}

@media screen and (max-width: 479px) {
    body {
        background-image: none;
    }
    
    .blankbit {
        display: none;
    }
    
    .bg-rect-right,
    .content,
    .bg-rect-left,
    aside {
        position: static;
        width: auto;
    }
    
    aside ul li {
        margin: auto;
        margin-right: 10px;
        margin-left: 10px;
    }
    
    aside {
        width: auto;
        margin: auto;
        display: block;
        text-align: center;
        background-image: url("../images/background-image-mobile.jpg");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: 1400px auto;
        background-position: 29% -80%;
        padding-bottom: 60px;    
        box-shadow: 0 5px 15px rgba(0,0,0,0.33);
    }
    
    aside ul {
        margin: auto;
        margin-top: 10px;
        display: block;
        margin-left: 0px;
        padding: 0px;
        background-color: rgba(0, 0, 0, .42);
        border-radius: 10px;
    }
    
    ul li {
        display: inline-block;
        padding: 0px;
    }
    
    aside img {
        display: block;
        max-width: 200px;
        min-width: 100px;
        width: 14%;
    }
    
    .bg-rect-right {
        display: none;
    }
    
    .bg-rect-left {
        display: none;
    }
    
    .index section {
        border: none;
        background: none;
    }
    
    .width-30 {
        width: 100%;
    }
    
    .width-70 {
        width: 100%;
    }
    
    section div.width-70:last-child {
        width: 100%;
    }
    
    .button {
        background: rgb(37, 37, 37);
        color: rgb(255, 255, 255);
        padding: 2px 15px;
        text-align: center;
        text-decoration: none;
        width: 100%;
        max-width: 266px;
        display: block;
    }

    .float-right {
        float: none;
    }

    .float-left {
        float: none;
    }

    footer p {
        position: static;
        bottom: initial;
        right: initial;
    }
}

@media screen and (min-width: 480px) and (max-width: 1400px) {
    body {
        background-image: url(../images/background-image-mobile.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    
    .bg-rect-right,
    .bg-rect-left {
        display: none;
    }
    
    aside {
        border-bottom: solid rgba(255,255,255,.33);
        border-right: solid rgba(255,255,255,.33);
        position: absolute;
        background-color: rgba(0, 0, 0, .42);
        width: auto;
        height: 450px;
    }
    
    aside img {
        margin-bottom: -20px;
    }
    
    .content {
        position: absolute;
        top: 450px;
        left: 0;
        width: 100%;
        height: auto;
        background-color: rgba(0, 0, 0, .42);
        margin-bottom: -30px;
    }
}

@media screen and (min-width: 1921px) {
    body {
        background-image: url("../images/background-image-4k.jpg");
        font-size: 30px;
    }
    
    .blankbit {
        left: 800px;
        width: 1086px;
    }
    
    .bg-rect-right {
        left: 1886px;
    }
    
    .bg-rect-left {
        width: 800px;
    }
    
    .content {
        left: 1886px;
    }
    
    .reference .float-left {
        float: none;
    }
    
}
