/*
 * 3 column arrangement
 * Left column is 400px
 * Middle column is 542 px
 * Far right column will be fluid
 * 
 * Make sure BG image is fixed
 *
 * Media queries will change for tablet and mobile for a 2 column where the left is fixed and the blank one is fluid
 * 
 * On phone media query (<480px) just remove the bg image.
 */

.homepage {
    float: left;
    height: 300px;
    width: 49%;
    margin: .5%;
    overflow: hidden;
}

.homepage2 {
    float: left;
    height: 300px;
    width: 49%;
    margin-left: 25.25%;
    margin-top: 1%;
    overflow: hidden;
}


/*
 * Global styles
 */

* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

.cf:after {
    clear: both;
    content: '';
    display: table;
}

body {
    background-image: url("../images/background-image.jpg");
    background-size: fixed;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0px;
    color: rgb(255,255,255);
    font-family: arial, sans-serif;
    font-size: 17px;
}


.sidebar {
    width: 400px;
    height: 100%;
    background-color: rgba(0,0,0,.42);
    float: left;
    padding: 20px;
}

.dropdown ul {
    visibility: hidden;
    height: 0;
    transition: height ease 0.25s;
    overflow: hidden;
}

.dropdown:hover ul  {
    visibility: visible;
    height: 82px;
}

.font {
    font-size: 36px;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar ul a {
    color: white;
    font-size: 36px;
    text-decoration: none;
}

body a.activelink {
    color: rgb(200,150,0);
}

.blankbit {
    float: left;
    width: 543px;
    height: 100%;
}

.content {
    float: right;
    position: absolute;
    top: 0;
    left: 943px;
    background-color: rgba(0,0,0,.43);
    height: 100%;
    padding: 20px;
}

section {
    border: 10px solid rgb(128,128,128);
    border-radius: 2px;
    margin-bottom: 20px;
    padding: 20px;
}

/*
 * Home styles
 */

/*
 * About
 */

/*
 * Threats
 */

/*
 * Get involved
 */


@media screen and (max-width: 480px) {
    
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    
}

@media screen and (min-width: 1025px) and (max-width: 1920px) {
    
}

@media screen and (min-width: 1921px) {
    
    
    
}